[Unit]
Description=Ledger Server
Wants=network-online.target
After=network-online.target

[Service]
User=ledger
Group=ledger
SyslogIdentifier=ledger
ConfigurationDirectory=ledger
StateDirectory=ledger
ExecStart=/usr/bin/ledger
Type=simple

[Install]
WantedBy=multi-user.target
